@use "../mixins" as *;

// Блок: card-big
.card-big {
    max-width: 511px;

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        max-height: 600px;
        background: url(../../src/img/Circle.png) no-repeat bottom;
        background-color: #edfffd;
        border-radius: 20px;
        margin-bottom: 35px;

        &--powdery {
            background-color: #fff8f4;
        }
    }

    &__title {
        margin-bottom: 35px;
    }

    &__txt {
        font-family: var(--font-family);
        font-size: 18px;
        line-height: 2;
        color: #464646;
        margin-bottom: 45px;
    }
}
