@use '../mixins' as *;

// Блок: page
.page {
    $block: &;

    scroll-behavior: smooth;

    &__header{
        padding: 47px 0 70px 0;
    }

    &__partner-links {
        padding:50px 0;
    }

    &__business-intro {
        padding: 50px 0 80px 0;
    }

    &__achievements {
        padding: 80px 0 70px 0;
    }

    &__blog {
        padding: 140px 0;
    }

    &__hero + &__partner-links {
        margin-top: 90px;
    }


}
