@use "sass:map";
@use "variables";

// Media Queries
$breakpoints: (
  "xs": variables.$screen-xs,
  "sm": variables.$screen-sm,
  "md": variables.$screen-md,
  "lg": variables.$screen-lg,
  "xl": variables.$screen-xl,
  "xxl": variables.$screen-xxl,
  "k2": variables.$screen-2k,
  "k4": variables.$screen-4k,
);
@mixin mq($width, $type: min) {
  @if map.has-key($breakpoints, $width) {
    $width: map.get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
